<div class="bounds mt-3">

    <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

        <div fxFlex="15" class="sec1" fxFlex.xs="55">
            first-section
        </div>
        <div fxFlex="30" class="sec2">
            second-section
        </div>
        <div fxFlex="55" class="sec3" fxFlex.xs="15">
            third-section
        </div>

    </div>
</div>

<!-- ngx-slick-slider -->
<ngx-slick-carousel class="carousel mt-3" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
<!-- <button class="btn-next" (click)="next()">next</button>
<button class="btn-prev" (click)="prev()">prev</button> -->
<!-- <button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->

<!-- table -->
<h3>First Table</h3>

<table class="table table-bordered">
    <tr>
        <th colspan="2">65</th>
        <th colspan="2">40</th>
        <th colspan="2">20</th>
    </tr>
    <tr>
        <th>Men</th>
        <th>Women</th>
        <th>Men</th>
        <th>Women</th>
        <th>Men</th>
        <th>Women</th>
    </tr>
    <tr>
        <td>82</td>
        <td>85</td>
        <td>78</td>
        <td>82</td>
        <td>77</td>
        <td>81</td>
    </tr>
</table>

<!-- table -->

<!-- second table -->
<h3>Second Table</h3>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th></th>
        <th>Bob</th>
        <th>Alice</th>
    </tr>
    <tr>
        <th rowspan="2">Favorite</th>
        <th>Color</th>
        <td>Blue</td>
        <td>Purple</td>
    </tr>
    <tr>
        <th>Flavor</th>
        <td>Banana</td>
        <td>Chocolate</td>
    </tr>
    <tr>
        <th rowspan="2">Least Favorite</th>
        <th>Color</th>
        <td>Yellow</td>
        <td>Pink</td>
    </tr>
    <tr>
        <th>Flavor</th>
        <td>Mint</td>
        <td>Walnut</td>
    </tr>
</table>

<!-- second table -->

<!-- third table -->
<h3>Third Table</h3>
<table class="table table-bordered">
    <tr>
        <th>Item / Desc.</th>
        <th>Qty.</th>
        <th>@</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Paperclips (Box)</td>
        <td>100</td>
        <td>1.15</td>
        <td>115.00</td>
    </tr>
    <tr>
        <td>Paper (Case)</td>
        <td>10</td>
        <td>45.99</td>
        <td>459.90</td>
    </tr>
    <tr>
        <td>Wastepaper Baskets</td>
        <td>2</td>
        <td>17.99</td>
        <td>35.98</td>
    </tr>
    <tr>
        <th colspan="3">Subtotal</th>
        <td>610.88</td>
    </tr>
    <tr>
        <th colspan="2">Tax</th>
        <td>7%</td>
        <td>42.76</td>
    </tr>
    <tr>
        <th colspan="3">Total</th>
        <td>653.64</td>
    </tr>
</table>

<!-- third table -->